.introduction {
    height: 80vh;
    padding: 10px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.introduction .nameAndJob {
    display: flex;
    flex-direction: column;
}

.introduction .nameAndJob h1 {
    font-size: 5.6em;
}

.introduction .nameAndJob h4 {
    font-size: 1.6em;
    margin-left: 20%;
}

.introduction .nameAndJob .job {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.introduction .nameAndJob .job img {
    width: 50px;
}

.infoRecentWorks {
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    color: #fff;
}

.animatedIcon {
  animation: floatUpDown 2s ease-in-out infinite;
  width: 24px;
  height: 24px;
}

.section {
    width: 100%;
    padding: 100px 0;
}

/* Trabalhos recentes */

.recentWorks {
    background-color: #27A48D;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #fff;
}

/* Trabalhos recentes - Fim */


/* Sobre mim */
.aboutMe {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
}
/* Sobre mim - Fim */

/* Serviços */

.typeServices {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Serviços - Fim */

/* Contato */
.contact {
    height: 70vh;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* Contato - Fim */


/* Tablets - >= tablets (601px) modo retrato (1024px) */
@media (max-width: 1024px) {
    .introduction {
        height: auto;
        margin-top: 50px;
    }
    
    .introduction .nameAndJob h1{
        font-size: 3em;
    }

    .introduction .perfilProfile img {
        width: 80%;
    }
    .contact {
        height: auto;
        padding: 10px 0;
        justify-content: start;
        align-items: center;
    }
    .ContactH2 {
        margin-top: 10px;
        
    }  
}


@media (max-width: 600px) { 
    .introduction {
        padding: 35% 30px 0;
        box-sizing: border-box;
        flex-direction: column;
        align-items: start;
        margin-top: 0;
    }

    .introduction .nameAndJob {
        width: 150px;
    }

    .introduction .nameAndJob h1 {
        font-size: 3.6em;
    }

    .introduction .nameAndJob h4 {
        font-size: 1.6em;
        margin-left: 20%;
    }

    .introduction .nameAndJob .job {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .introduction .nameAndJob .job img {
        width: 55px;
        height: 55px;
    }
    .introduction .perfilProfile img {
        width: 100%;
        margin: 0 auto;
        object-fit: contain;
    }
}

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes selection {
    from {
    transform: translateX(0);
    }
    to {
        transform: translateX(10px);
    }
}

@keyframes deselection {
    from {
        transform: translateX(10px);
    }
    to {
        transform: translateX(0);
    }
}

