form {
    display: flex;
    width: 30%;
    flex-direction: column;
    gap: 30px;
    margin: 30px 0;
}

form div {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

form div input, form textarea, form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
}
form div input {
    width: 45%;
}

form textarea {
    min-height: 200px;
    max-width: 95%;
    min-width: 95%;
}

form .recaptcha {
    display: flex;
    justify-content: center;
    
}
form button {
    width: 40%;
    margin: auto;
    color: #fff;
    background-color: #27A48D;
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-weight: bold;
}

form button:hover {
    color: #27A48D;
    background-color: #fff;
    box-shadow: inset 0 0 0 2px #27A48D;
}

/* Celulares - < celulares menores (360px à 480px) à celulares telas comuns (481px à 600px) */
/* Tablets - >= tablets (601px) modo retrato (1024px) */
@media (max-width: 1024px) { 

    form {
        width: 90%;
    }

    form div {
        flex-direction: column;
    }

    form div input, form textarea {
        width: 100%;
        padding: 10px 2px;
    }

    form textarea {
        min-width: 100%;
        max-width: 100%;
    }

    .recaptcha {
        margin: auto;
    }
}